# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data files
*.csv


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
raw/
final/
transferred/
train.parquet
train_final.parquet
test.parquet
test_final.parquet
new_data_train.parquet
new_data_test.parquet
test.ipynb
viva.md


# Logs
*.log